# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
frontend/runner.bat
frontend/builds/10-9-2024/asset-manifest.json
frontend/builds/10-9-2024/index.html
frontend/builds/10-9-2024/manifest.json
frontend/builds/10-9-2024/picture profile.png
frontend/builds/10-9-2024/WFM SYSTEM.svg
frontend/builds/10-9-2024/static/css/main.f59a75cc.css
frontend/builds/10-9-2024/static/css/main.f59a75cc.css.map
frontend/builds/10-9-2024/static/js/main.ff039eda.js
frontend/builds/10-9-2024/static/js/main.ff039eda.js.LICENSE.txt
frontend/builds/10-9-2024/static/js/main.ff039eda.js.map
frontend/builds/11-9-2024/asset-manifest.json
frontend/builds/11-9-2024/index.html
frontend/builds/11-9-2024/manifest.json
frontend/builds/11-9-2024/picture profile.png
frontend/builds/11-9-2024/WFM SYSTEM.svg
frontend/builds/11-9-2024/static/css/main.00227c3a.css
frontend/builds/11-9-2024/static/css/main.00227c3a.css.map
frontend/builds/11-9-2024/static/js/main.2d84564b.js
frontend/builds/11-9-2024/static/js/main.2d84564b.js.LICENSE.txt
frontend/builds/11-9-2024/static/js/main.2d84564b.js.map
frontend/builds/12-9-2024/asset-manifest.json
frontend/builds/12-9-2024/index.html
frontend/builds/12-9-2024/manifest.json
frontend/builds/12-9-2024/picture profile.png
frontend/builds/12-9-2024/WFM SYSTEM.svg
frontend/builds/12-9-2024/static/css/main.478d97dd.css
frontend/builds/12-9-2024/static/css/main.478d97dd.css.map
frontend/builds/12-9-2024/static/js/main.c5d4d75b.js
frontend/builds/12-9-2024/static/js/main.c5d4d75b.js.LICENSE.txt
frontend/builds/12-9-2024/static/js/main.c5d4d75b.js.map
frontend/builds/8-9-2024/asset-manifest.json
frontend/builds/8-9-2024/index.html
frontend/builds/8-9-2024/manifest.json
frontend/builds/8-9-2024/picture profile.png
frontend/builds/8-9-2024/WFM SYSTEM.svg
frontend/builds/8-9-2024/static/css/main.cdb7a6a7.css
frontend/builds/8-9-2024/static/css/main.cdb7a6a7.css.map
frontend/builds/8-9-2024 old/asset-manifest.json
frontend/builds/8-9-2024 old/index.html
frontend/builds/8-9-2024 old/manifest.json
frontend/builds/8-9-2024 old/picture profile.png
frontend/builds/8-9-2024 old/WFM SYSTEM.svg
frontend/builds/8-9-2024 old/static/css/main.cdb7a6a7.css
frontend/builds/8-9-2024 old/static/css/main.cdb7a6a7.css.map
frontend/builds/8-9-2024 old/static/js/main.1f8e57d0.js
frontend/builds/8-9-2024 old/static/js/main.1f8e57d0.js.LICENSE.txt
frontend/builds/8-9-2024 old/static/js/main.1f8e57d0.js.map
frontend/builds/8-9-2024 old/static/js/main.27293e3d.js
frontend/builds/8-9-2024 old/static/js/main.27293e3d.js.LICENSE.txt
frontend/builds/8-9-2024 old/static/js/main.27293e3d.js.map
frontend/builds/8-9-2024-new/asset-manifest.json
frontend/builds/8-9-2024-new/index.html
frontend/builds/8-9-2024-new/manifest.json
frontend/builds/8-9-2024-new/picture profile.png
frontend/builds/8-9-2024-new/WFM SYSTEM.svg
frontend/builds/8-9-2024-new/static/css/main.cdb7a6a7.css
frontend/builds/8-9-2024-new/static/css/main.cdb7a6a7.css.map
frontend/builds/8-9-2024-new/static/js/main.5cbc8456.js
frontend/builds/8-9-2024-new/static/js/main.5cbc8456.js.LICENSE.txt
frontend/builds/8-9-2024-new/static/js/main.5cbc8456.js.map
frontend/builds/9-9-2024/asset-manifest.json
frontend/builds/9-9-2024/index.html
frontend/builds/9-9-2024/manifest.json
frontend/builds/9-9-2024/picture profile.png
frontend/builds/9-9-2024/WFM SYSTEM.svg
frontend/builds/9-9-2024/static/css/main.f59a75cc.css
frontend/builds/9-9-2024/static/css/main.f59a75cc.css.map
frontend/builds/9-9-2024/static/js/main.aec5c8e3.js
frontend/builds/9-9-2024/static/js/main.aec5c8e3.js.LICENSE.txt
frontend/builds/9-9-2024/static/js/main.aec5c8e3.js.map
frontend/builds/build-1/asset-manifest.json
frontend/builds/build-1/index.html
frontend/builds/build-1/manifest.json
frontend/builds/build-1/picture profile.png
frontend/builds/build-1/WFM SYSTEM.svg
frontend/builds/build-1/static/css/main.04f34a61.css
frontend/builds/build-1/static/css/main.04f34a61.css.map
frontend/builds/build-1/static/js/main.2d4cd9e4.js
frontend/builds/build-1/static/js/main.2d4cd9e4.js.LICENSE.txt
frontend/builds/build-1/static/js/main.2d4cd9e4.js.map
frontend/builds/old-build/asset-manifest.json
frontend/builds/old-build/index.html
frontend/builds/old-build/manifest.json
frontend/builds/old-build/picture profile.png
frontend/builds/old-build/WFM SYSTEM.svg
frontend/builds/old-build/static/css/main.fe9df998.css
frontend/builds/old-build/static/css/main.fe9df998.css.map
frontend/builds/old-build/static/js/main.91d0d633.js
frontend/builds/old-build/static/js/main.91d0d633.js.LICENSE.txt
frontend/builds/old-build/static/js/main.91d0d633.js.map
