.login-card-container{
    @apply 
    flex 
    flex-col 
    justify-center 
    items-center 
    w-full 
    h-full 
    bg-light-colors-login-primary-bg
    dark:bg-dark-colors-login-primary-bg
    ;
}
.login-card{
    @apply         
    flex 
    flex-col
    gap-2
    bg-light-colors-login-secondry-bg
    w-5/6 
    h-3/6
    rounded-xl
    shadow-xl
    md:w-3/12
    md:h-[450px]
    dark:bg-dark-colors-login-secondry-bg
    ;
}
.login-card label.sign{
    @apply  
    text-center
    font-bold
    text-2xl
    mt-4
    md:text-3xl
    md:mt-5
    ;
}

.login-card .form{
    @apply 
    flex 
    flex-col
    justify-evenly
    w-full 
    h-full
    
    ;
}
.login-card .section{
    @apply 
    flex
    flex-col
    gap-2
    w-full
    justify-evenly
    w-10/12
    mx-auto
    ;
}

.login-card input{
    @apply 
    h-11
    outline-none
    px-4
    rounded-lg
    border
    border-[gray]
    bg-light-colors-login-third-bg
    dark:border-[#374558]
    dark:bg-dark-colors-login-third-bg

    ;
}
.login-card input:focus{
    @apply 
    border-[gray]
    ;
}

.login-card a{
    @apply 
    mx-auto
    text-primary
    ;
}

.login-card .section label{
    @apply 
    pl-3
    opacity-80
    ;
}


.login-card button{
    @apply 
    /* w-full */
    mx-auto
    w-60
    h-11
    rounded-lg
    md:w-10/12
    bg-primary
    text-[white]
    font-bold
    text-xl
    ;
}