@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="date"],input[type="month"] {
    /* display: none; */
    width: 0;
    height: 0;
    bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



input[type="time"]::-webkit-calendar-picker-indicator {
    /* Apply styles to the icon */
    /* For example, changing the color */
    color: #ff0000; /* Change to your desired color */
    
}

input[type="time"]{
    @apply max-w-[150px] place-self-center place-content-center;

}



input[type="checkbox"]{
    @apply checked:text-btns-colors-primary border-none w-[18px] h-[18px] place-self-center rounded-full bg-btns-colors-secondry ;
}


select{
    @apply 
    w-fit 
    outline-none 
    text-center 
    rounded-lg 
    border 
    border-[gray] 
    bg-light-colors-login-third-bg 
    dark:border-[#374558] 
    dark:bg-dark-colors-login-third-bg ;
}


input[type="text"]{
    @apply 
    h-11
    outline-none
    px-4
    rounded-lg
    border
    border-[gray]
    bg-light-colors-login-third-bg
    dark:border-[#374558]
    dark:bg-dark-colors-login-third-bg;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

